@using Blog_Site.ViewModels.Post
@model EditVM;
<!--
    Creates form so user can update post
-->
<form action="/Posts/Edit" method="post">
    @Html.HiddenFor(m => m.Id)
    <div class="grid">
        <div class="row">
            <div class="col-1">Title:</div>
            <div class="col-2">
                @Html.TextBoxFor(m => m.Title)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="row">
            <div class="col-3"><hr></div>
        </div>
        <div class="row">
            <div class="col-1">Description:</div>
            <div class="col-2">
                @Html.TextAreaFor(m => m.Description)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-3"><hr></div>
        </div>
        <div class="row">
            <div class="col-1">Fact:</div>
            <div class="col-2">
                @Html.TextAreaFor(m => m.Type)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Type)
            </div>
        </div>
        <div class="row">
            <div class="col-3"><hr></div>
        </div>
        <div class="row">
            <div class="col-3"><hr></div>
        </div>
        <div class="row">
            <div class="col-3">
                <input class="right" type="submit" value="Save" />
                <a class="right" href="/Posts/Index">Back</a>
            </div>
        </div>
    </div>
</form>
